/*======= index.html =======*/

#page1 .col-1 {width: 580px; padding: 27px 16px 0 0;}
#page1 .col-2 {width: 308px;}

/*======= index-1.html =======*/

#page2 .col-1 {width: 566px; padding: 15px 26px 0 4px;}
#page2 .col-2 {width: 308px;}

/*======= index-2.html =======*/

#page3 .col-1 {width: 566px; padding: 15px 26px 0 4px;}
#page3 .col-2 {width: 308px;}

/*======= index-3.html =======*/

#page4 .col-1 {width: 566px; padding: 15px 26px 0 4px;}
#page4 .col-2 {width: 308px;}

/*======= index-4.html =======*/

#page5 .col-1 {width: 566px; padding: 15px 26px 0 4px;}
#page5 .col-2 {width: 308px;}

/*======= index-5.html =======*/

#page6 .col-1 {width: 566px; padding: 15px 26px 0 4px;}
#page6 .col-2 {width: 308px;}